#monitoring-office.popup.popup-tender(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			.popup__body
				form(action="#", method="post").form 
					h2.form__title Анкета “Мониторинг офиса”
					figure.table-container
						.form__info.info-form
							.info-form__block 
								.info-form__field 
									span Юр. лицо:
									input(type="text", name="info", value="'ООО Рога и Копыта'", placeholder="Название юр. лица")
								.info-form__field 
									span Город:
									input(type="text", name="info", value="Москва", placeholder="Город")
								.info-form__field 
									span Фактический адрес:
									input(type="text", name="info", value="г.Москва, ул.Декабристов, д.32, офис 222", placeholder="Адрес")
								.info-form__field 
									span Классификация офиса по метоположинию:  
									input(type="text", name="info", value="Офис класса А", placeholder="Классификация офиса")
								.info-form__field 
									span Площадь офиса:
									input(type="text", name="info", value="750м2", placeholder="Площадь")

							.info-form__block 
								.info-form__field 
									span Количество рабочих мест:
									input(type="number", name="info", value="20", placeholder="0")
								.info-form__field 
									span Дата проверки: 
									input(type="date", name="info")
								.info-form__field 
									span Проверяющий:
									input(type="text", name="info", value="Иванов Иван", placeholder="Имя")
								.info-form__field 
									span Анкету внес:   
									input(type="text", name="info", value="Семенов Семен", placeholder="Имя")
								.info-form__field 
									span Дата и время внесения:
									input(type="datetime-local", name="info", value="2000-01-01T00:00:00")

						table.table-form
							tbody
								tr
									th(rowspan='2').th-column-title Тип стандарта
									th(rowspan='2').th-column-title Параметр
									th(colspan='4').th-column-title Состояние
									th(rowspan='2').th-column-title Комментарий
								tr
									th.th-column-subtitle Не требуется
									th.th-column-subtitle Отсутствует
									th.th-column-subtitle Есть замечания
									th.th-column-subtitle Отлично
								tr
									td(rowspan='5').td-row-title Внешний стандарт
									td.td-row-subtitle Вывеска на фасаде здания
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-text
										textarea(name="comment-1-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle  Вывеска на входе в офис
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-text
										textarea(name="comment-1-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle  Указатели внутри здания
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-text
										textarea(name="comment-1-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle  Уличная реклама
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-text
										textarea(name="comment-1-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle  Режимная табличка
									td.td-row-radio
										input(type="radio", name="radio-1-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-5").input-radio
									td.td-row-text
										textarea(name="comment-1-5", cols="30", rows="1", placeholder="комментарий")
								tr
									td(rowspan='11').td-row-title Внутренний страндарт
									td.td-row-subtitle Корпоративный цвет покраски стен
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-text
										textarea(name="comment-2-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Интерьерная вывеска
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-text
										textarea(name="comment-2-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Офисная техника
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-text
										textarea(name="comment-2-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Фирменные постеры и/или карта мира
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Стойка для каталогов
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уголок потребителя
									td.td-row-radio
										input(type="radio", name="radio-2-6").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-6").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-6").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-6").input-radio
									td.td-row-text
										textarea(name="comment-2-6", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Мебель в корпоративых цветах (белый, красный)
									td.td-row-radio
										input(type="radio", name="radio-2-7").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-7").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-7").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-7").input-radio
									td.td-row-text
										textarea(name="comment-2-7", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Наличие фирменных конвертов
									td.td-row-radio
										input(type="radio", name="radio-2-8").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-8").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-8").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-8").input-radio
									td.td-row-text
										textarea(name="comment-2-8", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Детский уголок
									td.td-row-radio
										input(type="radio", name="radio-2-9").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-9").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-9").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-9").input-radio
									td.td-row-text
										textarea(name="comment-2-9", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Зона ожидания
									td.td-row-radio
										input(type="radio", name="radio-2-10").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-10").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-10").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-10").input-radio
									td.td-row-text
										textarea(name="comment-2-10", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Брендированная атрибутика офиса (ручки/блокноты и т.п.)
									td.td-row-radio
										input(type="radio", name="radio-2-11").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-11").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-11").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-11").input-radio
									td.td-row-text
										textarea(name="comment-2-11", cols="30", rows="1", placeholder="комментарий")
								tr
									th(rowspan='2').th-column-title Тип стандарта
									th(rowspan='2').th-column-title Параметр
									th(colspan='4').th-column-title Наличие
									th(rowspan='2').th-column-title Комментарий
								tr
									th(colspan='2').th-column-subtitle Нет
									th(colspan='2').th-column-subtitle Да
								tr
									td(rowspan='4').td-row-title Деловой стандарт
									td.td-row-subtitle Именной нагрудный бейдж
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-16").input-radio
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-16").input-radio
									td.td-row-text
										textarea(name="comment-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Визитки “Турагентство ANEX Tour”
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-1").input-radio
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-1").input-radio
									td.td-row-text
										textarea(name="comment-3-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Вежливое общение
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-2").input-radio
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-2").input-radio
									td.td-row-text
										textarea(name="comment-3-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Заполненный "уголок потребителя"
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-3").input-radio
									td(colspan="2").td-row-radio
										input(type="radio", name="radio-3-3").input-radio
									td.td-row-text
										textarea(name="comment-3-3", cols="30", rows="1", placeholder="комментарий")
		
						.form__btns
							button(type="submit") Сохранить
							button(type="button", data-close='data-close') Закрыть


#secret-customer.popup.popup-tender(aria-hidden='true', data-single="true")
	.popup__wrapper
		.popup__content
			.popup__body
				form(action="#", method="post").form 
					h2.form__title Анкета “Тайный покупатель”

					figure.table-container
						.form__info.info-form
							.info-form__block 
								.info-form__field 
									span Юр. лицо:
									input(type="text", name="info", value="'ООО Рога и Копыта'", placeholder="Название юр. лица")
								.info-form__field 
									span Город:
									input(type="text", name="info", value="Москва", placeholder="Город")
								.info-form__field 
									span Фактический адрес:
									input(type="text", name="info", value="г.Москва, ул.Декабристов, д.32, офис 222", placeholder="Адрес")
								.info-form__field 
									span Продолжительность звонка: 
									input(type="number", name="info", value="12", placeholder="минуты")

							.info-form__block 
								.info-form__field 
									span Дата звонка: 
									input(type="date", name="info", value="2022-01-01", placeholder="дата")
								.info-form__field 
									span Время звонка:  
									input(type="text", name="info", value="17-00", placeholder="Время")
								.info-form__field 
									span Проверяющий:
									input(type="text", name="info", value="Иванов Иван", placeholder="Имя")
								.info-form__field 
									span Дата и время внесения:
									input(type="datetime-local", name="info", value="2000-01-01T00:00:00")

						table.table-form
							tbody
								tr
									th(rowspan='2').th-column-title Блоки оценки звонка
									th(rowspan='2').th-column-title Параметроценки
									th(colspan='4').th-column-title Состояние
									th(rowspan='2').th-column-title Комментарий
								tr
									th.th-column-subtitle Выполнено
									th.th-column-subtitle Есть к чему стремиться
									th.th-column-subtitle Не выполнено
									th.th-column-subtitle Не оцениваем
								tr
									td(rowspan='4').td-row-title Установление контакта
									td.td-row-subtitle Представились “Турагентство ANEX Tour”
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-1").input-radio
									td.td-row-text
										textarea(name="comment-1-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Представились по имени
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-2").input-radio
									td.td-row-text
										textarea(name="comment-1-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Поздоровались
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-3").input-radio
									td.td-row-text
										textarea(name="comment-1-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уточнили, как можнообращаться к клиенту
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-1-4").input-radio
									td.td-row-text
										textarea(name="comment-1-4", cols="30", rows="1", placeholder="комментарий")

								tr
									td(rowspan='5').td-row-title Стиль общения
									td.td-row-subtitle Уверенный, уважительный и доброжелательный тон, улыбка 
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-text
										textarea(name="comment-2-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Отсутствие проф. жаргонизмов,уменьшительно-ласкательныхслов и слов паразитов
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-text
										textarea(name="comment-2-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Обращение к клиенту по имени
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-text
										textarea(name="comment-2-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Активное слушание клиента
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Умение работать с возражениями или с конфликтной ситуацией 
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")
								
								tr
									td(rowspan='9').td-row-title Параменты тура и потребностиклиента
									td.td-row-subtitle Уточнили интересующеенаправление
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-text
										textarea(name="comment-2-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уточнили типо отдыха
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-text
										textarea(name="comment-2-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уточнили даты отдыха
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-text
										textarea(name="comment-2-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уточнили продолжительность тура
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Уточнили количество туристов
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")

								tr
									td.td-row-subtitle Уточнили бюджет тура или предпочтительную категорию отеля
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")

								tr
									td.td-row-subtitle Уточнили пожелания по типу питания
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")

								tr
									td.td-row-subtitle Уточнили пожелания по отелю
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")
								
								tr
									td.td-row-subtitle Уточнили пожелания по размещению
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-5").input-radio
									td.td-row-text
										textarea(name="comment-2-5", cols="30", rows="1", placeholder="комментарий")
								
								tr
									td(rowspan='4').td-row-title Подбор предложенийи консультация
									td.td-row-subtitle Предложили продукт ANEX Tour
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-text
										textarea(name="comment-2-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Предоставили информацию, соответствующую потребностям клиента
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-text
										textarea(name="comment-2-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Выгодно описали регион расположения
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-text
										textarea(name="comment-2-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Предложили не более 3-4 вариантов
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")

								tr
									td(rowspan='6').td-row-title Завершение звонка
									td.td-row-subtitle Взяли телефон клиента
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-1").input-radio
									td.td-row-text
										textarea(name="comment-2-1", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Взяли эл. почту клиента
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-2").input-radio
									td.td-row-text
										textarea(name="comment-2-2", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Пригласили клиента в офис продаж или назначили повторный звонок
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-3").input-radio
									td.td-row-text
										textarea(name="comment-2-3", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Поблагодарили за звонок
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Попрощались
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
								tr
									td.td-row-subtitle Длительность разговора от 7 до 15 мин.
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-radio
										input(type="radio", name="radio-2-4").input-radio
									td.td-row-text
										textarea(name="comment-2-4", cols="30", rows="1", placeholder="комментарий")
						.form__btns
							button(type="submit") Сохранить
							button(type="button", data-close='data-close') Закрыть